.gift {
    padding: 80px 0;
      @extend .groom-area;
  &__line {
    margin-top: -18px;
  }
  margin: 50px 0px;
 .hihi {
            display: flex;
    align-items: center;
    }
   
    &__footer {
        >div {
            margin-top : 20px;
        }
    &--logo {
      position: relative;
      height: 100px;
      img {
        position: absolute;
        bottom: 0;
      }
    }
}
}


// .gift {
//   padding: 80px 0;

//   &__header {
    
//     &--content {
//       margin-bottom: 45px;
//       text-align: center;
//       font-family: $oswald-font;
//     }
// }
//   &__footer {
//     &--logo {
//       position: relative;
//       height: 100px;
//       img {
//         position: absolute;
//         bottom: 0;
//       }
//     }
  
// }
// }

//  .row {
//             display: flex;
//     align-items: center;
//     }