/* =================================== */
/*  Groom Style
/* =================================== */

.element {
  @include transition-opt;
  @include fill-down;
}
.groom-area {
  span { 
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 400;
    text-transform: capitalize;
    font-family: $great-font;
    text-decoration: double;
  }
  hr {
    border-top: 1px solid black;
  }
  &__line {
    margin-top: -18px;
  }
}
.groom-area__girl,
.groom-area__boy {
  &--pic,
  &--pic2 {
    background: url(/assets/images/groom/groom__girl.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 0px;
    padding-right: 0px;
    height: 304px;
    min-height: 280px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  &--pic2 {
    background: url(/assets/images/groom/groom__boy.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 0px;
    padding-right: 0px;
    height: 304px;
    min-height: 280px;
  }
  &--pic:hover,
  &--pic2:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    cursor: pointer;
  }
  &--content {
    background: #c5eef5;
    padding-right: 0;
    padding-left: 0;
    height: 304px;
    min-height: 304px;
    h4 {
      color: #429bab;
      background: #fff;
      margin: 20px 0px 15px 0px;
      padding: 5px 0px;
      padding-left: 100px;
    }
    h4:hover {
      color: $black;
      cursor: pointer;
      background: #429bab;
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
    }

    p {
      margin: 10px 0px;
      color: black;
    }
    ul {
      padding-top: 20px;
      text-align: center;
      display: inline-block;
      /* One most likely needs to realign flow content */
    }
    a {
      border-style: solid;
      border-color: $white;
      border-width: 1px;

      display: inline-block;
      position: relative;
      margin: 0 auto 0 auto;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      text-align: center;
      width: 50px;
      height: 50px;
      font-size: 20px;
      color: $black;
    }
    .hihi {
      background: #fff;
    }
    li {
      list-style: none;
      float: left;
      text-align: center;
      margin-left: 30px;
    }
    .fa {
      // display: inline;
      // margin-left: 0 !important;
      // padding: 0;
    }
    .fa:hover,
    a:hover {
      opacity: 0.7;
    }
    i {
      margin: 0;
      line-height: 50px;
      text-align: center;
    }
  }
}
.groom-area__boy {
  margin: 20px 0px;
}
