/* =================================== */
/* 3. Menu Style
/* =================================== */

#header {
  padding: 0px 0px 0px 0px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
}
.main---menu {
    position: absolute;
    margin-left : auto ;
    margin-right: auto;
    left: 0;
    right: 0;
    background: white;
    @include transition();
}
@media(max-width:991px){
    .container.main--menu{
        max-width:100%!important;
    }
}

// Nav-menu
.nav-menu,{
  &--left,
  &--right {
    padding: 0px;
    margin: 0px;
    list-style: none;
    &___item {
    }
    li {
      float: left;
      padding: 0px 10px;
      a {
        font-size: 16px;
        text-transform: uppercase;
        line-height: 30px;
      }
    }
  }
}
