/* =================================== */
/* 3. Menu Style
/* =================================== */

#header {
  background-color: #61c0e0;
  text-align: center;
  position: relative;
}

// .container {
//   background-color: #f3d95a;
//   height: 70px;
//   &__logo {
//     display: none;
//   }
//   &__navbar {
//     text-align: center;
//   }
// }

// .navbar {
//       background-color:red;

//   position: relative;
//   display: inline-block;
//   min-height: 50px;
//   margin-bottom: 20px;
//   border: 1px solid transparent;
//   }

