{% block head %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{Title}}
        | Project SASS v&#xE0; BEM</title>

    <meta name="author" content="HuynhDuc">
<meta name="description" content="Project_PSD_to_HTML" <meta name="keywords" content="Project_PSD_to_HTML"> {# =================CSS===================== #} <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel='shortcut icon' href='https://appscyclone.com/templates/cyclone/images/favicon.png'/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}