<div class="ranbow__background">

    <div class="example">
        <form>
            Phone:
            <input type="tel" class="example">
            E-mail:
            <input type="email" disabled="disabled">
            Password:
            <input type="password">
        </form>
    </div>

</div>