{# Start Banner Area #}

<section class="banner">
    <div class="container">
        <div class="row fullscreen align-items-center justify-content-between">
            <div class="col-lg-6 col-md-6 left">
                <div class="row">
                    <div class="col-md-12 col-lg-12 left--top">
                    <img class="left--top__logo" src="./assets/images/logo/logo--mobile.png" alt="logo_opacity" >
                    <h1 class="left--top__name">Cindy & Daniel</h1>
                    <div class="col-md-8 col-md-offset-8 left--top__countdown">
                    dd
                    </div>
                    </div>
                    <div class="col-md-12 col-lg-12 left--bottom" >
                        <img class="img-fluid" src="./assets/images/banner/left_main_img.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 right">
                <img class="img-fluid" src="./assets/images/banner/main_img.png" alt="">
            </div>
        </div>
    </div>
</section>
{# End Banner Area #}