<section class="countdown" data-bg-image="./assets/images/bride/images/home_02.png" data-speed="7" style="background-image: url(&quot;/assets/images/bride/images/home_02.png&quot;); background-position: 50% 4.28571px; background-size: cover;min-height: 350px;">
    <div class="container">

    </div>
    <!-- end container -->
</section>