<section class="bride-area" id="Bridemaids-Groomsmen">
    <div class="container">
        {% set Text = "Bridemaids & Groomsmen" %}
        {% block header %}
            <div class="row justify-content-center text-center">
                <span class="element">{{Text}}</span>
                <hr width="20%" size="3px" align="center"/>
                <hr class="story-area__line" width="20%" size="3px" align="center"/>
            </div>
        {% endblock %}
        <div class="gallery">
            <div class="gallery--item">
                <a href="#">
                    <img src="./assets/images/bride/images/bride_03.png" alt="" srcset="">
                    <h5>hihih</h5>
                    <p>hellooooooo</p>
                </a>
            </div>
            <div class="gallery--item">
                <a href="#">
                    <img src="./assets/images/bride/images/bride_05.png" alt="" srcset="">
                    <h5>hihih</h5>

                    <p>hellooooooo</p>
                </a>
            </div>
            <div class="gallery--item">
                <a href="#">
                    <img src="./assets/images/bride/images/bride_07.png" alt="" srcset="">
                    <h5>hihih</h5>

                    <p>hellooooooo</p>
                </a>
            </div>
            <div class="gallery--item">
                <a href="#">
                    <img src="./assets/images/bride/images/bride_09.png" alt="" srcset="">
                    <h5>hihih</h5>

                    <p>hellooooooo</p>
                </a>
            </div>
            <div class="gallery--item">
                <a href="#">
                    <img src="./assets/images/bride/images/bride_15.png" alt="" srcset="">
                    <h5>hihih</h5>

                    <p>hellooooooo</p>
                </a>
            </div>
            <div class="gallery--item">
                <a href="#">
                    <img src="./assets/images/bride/images/bride_17.png" alt="" srcset="">
                    <h5>hihih</h5>

                    <p>hellooooooo</p>
                </a>
            </div>
            <div class="gallery--item">
                <a href="#">
                    <img src="./assets/images/bride/images/bride_19.png" alt="" srcset="">
                    <h5>hihih</h5>

                    <p>hellooooooo</p>
                </a>
            </div>
            <div class="gallery--item">
                <a href="#">
                    <img src="./assets/images/bride/images/bride_20.png" alt="" srcset="">
                    <h5>hihih</h5>

                    <p>hellooooooo</p>
                </a>
            </div>
        </div>
    </div>
</section>