<section class="bride">
    <div class="container">
        {% set Text = "Bridemaids & Groomsmen" %}
        {# ======= Text header ========  #}
        {{ block("header", "./_groom.twig") }}
    </div>
</section>