<section class="countdown" data-bg-image="./assets/images/countdown/images/countdown_03.png" data-speed="7" style="background-image: url(&quot;/assets/images/countdown/images/countdown_03.png&quot;); background-position: 50% 4.28571px; background-size: cover;">
    <div class="container">
        {# ======= Text header ======== #}
        <div class="row justify-content-between countdown__header">
            <div class="col-lg-8 col-sm-8">
                <h1 class="countdown__header--text">
                    Don’t miss it !
                </h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam magna ligula, aliquam nec auctor at, ultrices sollicitudin neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam aliquet sapien et tellus euismod faucibus.</p>
            </div>

        </div>
        <div class="row justify-content-center">
            <div class="col-lg-5 col-sm-12">
                <div class="countdown__clock">
                    <div id="clock">
                        <div class=" col-lg-2 col-sm-2 countdown__clock-box">
                            <div>00</div>
                            <span>Moths</span>
                        </div>
                        <div class=" col-lg-2 col-sm-2 countdown__clock-box">
                            <div>00</div>
                            <span>Days</span>
                        </div>  
                        <div class=" col-lg-2 col-sm-2 countdown__clock-box">
                            <div>00</div>
                            <span>Hours</span>
                        </div>
                        <div class=" col-lg-2 col-sm-2 countdown__clock-box">
                            <div>00</div>
                            <span>Minutes</span>
                        </div>
                        <div class=" col-lg-2 col-sm-2 countdown__clock-box">
                            <div>00</div>
                            <span>Seconds</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end container -->
    </section>