{# Start footer area #}
{# Fix code ver 2 #}

<div class='back-to-top show ' id='back-to-top' title='Back to top'>
    <i class='fa fa-chevron-up'></i>
</div>

<footer class="footer-area">
    <div class="container">
        <div class="row d-flex ">
            <p class="col-lg-6 col-sm-12 text-center footer-text m-0">
                Daniel & Cindy. Copyright ©
                <script>
                    document.write(new Date().getFullYear());
                </script>
                Make with
                <a href="wwww.facebook.com/huynhngocduc.cntt" target="_blank">love</a>
            </p>
            <p class="col-lg-6 col-sm-12 text-center footer-text m-0">
                Powered by
                <a target="_blank" rel="nofollow noopener">Huynh Ngoc Duc</a>. Designed by
                <a target="_blank" rel="nofollow noopener">PIXArtThemes</a>
            </p>
        </div>
    </div>
</footer>

{# End Footer Area #}

{# <div class="app-footer__magin">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6">
                <span>
                    Daniel & Cindy. Copyright 2016. Make with</span>
                <a href="wwww.facebook.com/huynhngocduc.cntt" target="_blank">love</a>
            </div>
            <div class="col-md-6">
                <span class="info">
                    Powered by
                    <a target="_blank" rel="nofollow noopener">Huynh Ngoc Duc</a>. Designed by
                    <a target="_blank" rel="nofollow noopener">PIXArtThemes</a>
                </span>
            </div>
        </div>
    </div>
</div> #}