<footer class="app-footer">
    <div class="app-footer__magin">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-6">
                    <span> Daniel & Cindy. Copyright 2016. Make with</span>
                    <a href="wwww.facebook.com/huynhngocduc.cntt" target="_blank">love</a>
                </div>
                <div class="col-md-6">
                    <span class="info">
                        Powered by
                        <a target="_blank" rel="nofollow noopener">Huynh Ngoc Duc</a>. Designed by <a target="_blank" rel="nofollow noopener">PIXArtThemes</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</footer>

