<section class="gallert-area" id="Our Love Gallery">
    <div class="container">
        {% set Text = "Our Love Gallery" %} {% block header %}
        <div class="row justify-content-center text-center">
            <span class="element">{{Text}}</span>
            <hr width="20%" size="3px" align="center" />
            <hr class="story-area__line" width="20%" size="3px" align="center" />
        </div>
        {% endblock %}
        <div class="row">
            <div align="center">
                <button class="btn btn-default filter-button" data-filter="all">MOMENTS</button>
                <button class="btn btn-default filter-button" data-filter="hdpe">ENGAGEMENT</button>
                <button class="btn btn-default filter-button" data-filter="sprinkle">HONEY MOON</button>
                <button class="btn btn-default filter-button" data-filter="spray">WEDDING PARTY</button>
                <button class="btn btn-default filter-button" data-filter="irrigation">MAIN CEREMONY</button>
            </div>
            <br/>
            <div align="center">
                <button class="btn btn-default filter-button" data-filter="all">VIEW MORE</button>
            </div>
        </div>
    </div>
</section>