<section class="gift">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6">
                <h1 class="gift__header--text">
                    Gift Registries
                </h1>
                <hr class="gift__header--line" width="30%" size="5px" align="center"/>
                <hr class="gift__header--line2" width="30%" size="5px" align="left"/>

                <p class="gift__header--content">
                    Click the links below to see our gift registry details</p>

            </div>
        </div>
        <div class="row justify-content-center">

            <div class="col-lg-6 col-md-6">
                <div class="gift__footer__logo col-lg-3 col-md-3">
                    <a href=""><img src="./assets/images/gift/pig_logo.png" alt="logo_one"></a>
                </div>
                <div class="gift__footer__logo col-lg-3 col-md-3">
                    <a href="">
                        <img src="./assets/images/gift/applimedia.png" alt="logo_one">
                    </a>
                </div>
                <div class="gift__footer__logo col-lg-3 col-md-3">
                    <a href="">
                        <img src="./assets/images/gift/gp_logo.png" alt="logo_one">
                    </a>
                </div>
                <div class="gift__footer__logo col-lg-3 col-md-3">
                    <a href="">
                        <img src="./assets/images/gift/company_logo.png" alt="logo_one">
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>
</section>