<section class="groom">
    <div class="container">
        {% set Text = "Groom & Bride" %}
        {# ======= Text header ========  #}
        {% block header %}
            <div class="row justify-content-center groom__header">
                <div class="col-lg-6 col-md-6">
                    <h1 class="groom__header--text">
                        {{Text}}
                    </h1>
                    <hr class="groom__header--line" width="30%" size="5px" align="center"/>
                    <hr class="groom__header--line2" width="30%" size="5px" align="left"/>
                </div>
            </div>
        {% endblock %}
        {# ========  Row Girl  ======== #}
        <div class="row align-items-center justify-content-between">
            <div class="col col-xs-12 ">
                <div class="groom__top ">
                    <div class="groom__top__image col-lg-4 col-md-4 "></div>
                    <div class="groom__top__content col-lg-8 col-md-8"></br>
                    <h4>Cindy Rows</h4>

                    <div class="groom__top__content__head">
                        <p class="groom__top__content__head__date">26.10.1990</p>
                        <p class="groom__top__content__head__text">
                            Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.
                        </p>
                        <ul class="groom__top__content__head__social">
                            <li>
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-pinterest"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>

            </div>
            <div class="groom__bottom ">
                <div class="groom__bottom__content col-lg-8 col-md-8">
                    <br>
                    <h4>Daniel Doe</h4>

                    <div class="groom__bottom__content__head">
                        <p class="groom__bottom__content__head__date">12.08.1987</p>
                        <p class="groom__bottom__content__head__text">
                            Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.
                        </p>
                        <ul class="groom__bottom__content__head__social">
                            <li>
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-pinterest"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="groom__bottom__image col-lg-4 col-md-4 "></div>

            </div>

        </div>
    </div>

</div>
</section>