<header id="header">
    <div class="container">
        <div class="container__logo">
            <h1>wedding</h1>
        </div>
        <div class="container__navbar">
            <div class="navbar">
                <div class="nav-collapse collapse" style="height: 0px;"></div>
                <ul class="nav">
                    <li>
                        <a href="#">home</a>
                    </li>
                    <li>
                        <a href="#">the couple</a>
                    </li>

                    <li>
                        <a href="#">love story</a>
                    </li>

                    <li>
                        <a href="#">friends</a>
                    </li>
                    <li></li>
                        <div class="navbar__menu__item__logo">
                            <a href="" class="navbar__menu__item__logo_center">
                                <h1>LOGO</h1>
                            </a>
                        </div>
                    </li>
                <li>
                    <a href="#">home</a>
                </li>
                <li>
                    <a href="#">the couple</a>
                </li>
                
                <li>
                    <a href="#">love story</a>
                </li>
                
                <li>
                    <a href="#">friends</a>
                </li>
                </ul>
            </div>
        </div>
    </div>
    </div>
</header>