<header class="header-wrapper">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 visible-xs">
                    <div class="logo-mobile">
                        <a href="#">
                            <img src="./assets/images/logo/logo--mobile.png">
                        </a>
                    </div>
                </div>
                <div class="col-md-11 col-xs-12">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse text-center" id="myNavbar">
                        <ul class="nav navbar-nav margin-l">
                            <li class="nav--left__item">
                                <a href="#">Home</a>
                            </li>
                            <li class="nav--left__item">
                                <a href="#">The Couple</a>
                            </li>
                            <li class="nav--left__item">
                                <a href="#">Love Story</a>
                            </li>
                            <li class="nav--left__item">
                                <a href="#">Friends</a>
                            </li>
                        </ul>
                        <div class="logo hidden-xs">
                            <div class="nav__logo">
                                <a href="#">
                                    <img class="nav__logo--mid" src="./assets/images/logo/logo.png">
                                    <p class="nav__logo__slogan"> Ever and Ever</p>
                                </a>
                            </div>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="nav--right__item">
                                <a href="#">Garelly</a>
                            </li>
                            <li class="nav--right__item">
                                <a href="#">Party</a>
                            </li>
                            <li class="nav--right__item">
                                <a href="#">Blog</a>
                            </li>
                            <li class="nav--right__item">
                                <a href="#">Rsvp</a>
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="col-md-1">
                </div>
            </div>
        </div>
    </nav>
</header>