<header id="header">
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container main-menu">
            <nav id="nav-menu-container">
                <ul class="nav-menu--left">
                    <li class="nav-menu--left__item">HOME</li>
                    <li class="nav-menu--left__item">THE COUPLE</li>
                    <li class="nav-menu--left__item">LOVE STORY</li>
                    <li class="nav-menu--left__item">FRIENDS</li>
                </ul>
                <div class="nav-menu--center">
                    <a href="" class="nav-menu--center__logo">
                    </a>
                </div>
                <ul class="nav-menu--right">
                    <li class="nav-menu--right__item">GALARRY</li>
                    <li class="nav-menu--right__item">PARTY</li>
                    <li class="nav-menu--right__item">BLOG</li>
                    <li class="nav-menu--right__item">RSVP</li>
                </ul>
        </div>
        </nav>
</header>