<section class="rsvp-area" id="rsvp-here">
    <div class="container">
        {% set Text = "Rsvp here!" %}
        {% block header %}
            <div class="row justify-content-center text-center">
                <span class="element">{{Text}}</span>
                <hr width="20%" size="3px" align="center"/>
                <hr class="story-area__line" width="20%" size="3px" align="center"/>
            </div>
        {% endblock %}

        <div class="row justify-content-center">
            <div class="col-lg-6 rsvp-area__form">
                <form action="" method="get">
                    <input id="email" class="input100" type="text" name="email" placeholder="Your Name">
                </br>
                <input id="email" class="input100" type="text" name="email" placeholder="Your Email">
                <p>Will you attend ?</p>
                <input type="checkbox" name="vehicle1" value="Bike">
                I have a bike

                <input type="checkbox" name="vehicle2" value="Car">
                I have a car
                <br>
                <p>Notes</p>
                <textarea id="message" class="input100" name="message"></textarea>
            </form>
        </div>
        <div class="col-lg-6 rsvp-area__background" style="background-image: url('/assets/images/bride/images/form.png');"></div>
    </div>

</div>
</section>