<section class="story-area" id="love-story">
    <div class="container">
        {% set Text = "Love Story" %}
        {% block header %}
            <div class="row justify-content-center text-center">
                <span class="element">{{Text}}</span>
                <hr width="20%" size="3px" align="center"/>
                <hr class="story-area__line" width="20%" size="3px" align="center"/>
            </div>
        {% endblock %}

        {# ========== Content ============ #}
        {# Picture 1 #}
        <div class="row aligh-items-center justify-content-between story__image">

            <div class="col-md-7 story__image-one">
                <div class="col-md-6 story__image-one--pic1" style="background-image:url(./assets/images/story/story1.png);"></div>
                <div class="col-md-6 ">
                    <div class="story__image-one--pic2" style="background-image:url(./assets/images/story/story2.png);"></div>
                    <div class="story__image-one--pic3" style="background-image:url(./assets/images/story/story3.png);"></div>
                </div>
            </div>
            <div class="col-md-5 story__image-one--text">
                <h4>First Meet Each Other</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam non bibendum dolor. Ut vel turpis accumsan, efficitur dolor fermentum, tincidunt metus. Etiam ut ultrices nibh. Etiam aliquam mauris non hendrerit faucibus. Proin pulvinar.
                </p>
            </div>
        </div>
        {# Picture 2 #}
        <div class="row aligh-items-center justify-content-between story__image">

            <div class="col-md-7 story__image-two">
                <div class="story__image-two--pic4" style="background-image:url(./assets/images/story/story4.png);"></div>
            </div>
            <div class="col-md-5 story__image-two--text">
                <h4>Talking At The Cafe</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam non bibendum dolor. Ut vel turpis accumsan, efficitur dolor fermentum, tincidunt metus. Etiam ut ultrices nibh. Etiam aliquam mauris non hendrerit faucibus. Proin pulvinar.
                </p>
            </div>
        </div>
        {# Picture 3 #}
        <div class="row aligh-items-center justify-content-between story__image">

            <div class="col-md-7 story__image-three">
                <div class="col-md-6 story__image-three--pic5" style="background-image:url(./assets/images/story/story5.png);"></div>
                <div class="col-md-6 story__image-three--pic6" style="background-image:url(./assets/images/story/story6.png);"></div>

            </div>
            <div class="col-md-5 story__image-one--text">
                <h4>Proposal Of Marriage</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam non bibendum dolor. Ut vel turpis accumsan, efficitur dolor fermentum, tincidunt metus. Etiam ut ultrices nibh. Etiam aliquam mauris non hendrerit faucibus. Proin pulvinar.
                </p>
            </div>
        </div>
        {# Picture 4 #}
        <div class="row aligh-items-center justify-content-between story__image">

            <div class="col-md-7 story__image-two">
                <div class="story__image-two--pic4" style="background-image:url(./assets/images/story/story7.png);"></div>
            </div>
            <div class="col-md-5 story__image-two--text">
                <h4>Our Lovely Engagement</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam non bibendum dolor. Ut vel turpis accumsan, efficitur dolor fermentum, tincidunt metus. Etiam ut ultrices nibh. Etiam aliquam mauris non hendrerit faucibus. Proin pulvinar.
                </p>
            </div>
        </div>
    </div>
</section>