/* =================================== */
/* 2 . Elements
/* =================================== */

html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  @include html-style;
  @include font-smoothing;
  a {
    @include html-style;
    @include font-smoothing;
  }
}
body {
  font-size: 14px;
  color: $black;
  @include html-style;
  font-family: $oswald-font;
  background-color: $black;
  display: block;
  margin : 0px auto;
  a {
    @include transition();
    &:hover {
      @include text-decoration;
    }
    &:focus {
      @include text-decoration;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  font-weight: 300;
  font-size: 14px;
}

ul {
  margin: 0;
  padding: 0;
}

label {
  margin: 0;
}

h1 {
  font-size: 28px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 22px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 15px;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 35px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 22px;
}
h6 {
  font-size: 18px;
}

a {
  color: $text-color;
  &:hover {
    @include text-decoration;

    color: $text-hover;
    &:focus {
      @include text-decoration;
    }
  }
}
button {
  &:hover {
    @include text-decoration;
  }
  &:focus {
    @include text-decoration;
  }
}
